---
const stars = [
  ...Array.from({ length: 50 }).map(() => ({
    x: (Math.random() * 100) / 100,
    y: (Math.random() * 100) / 100,
    width: (Math.random() * 0.06 + 0.01) / 100,
    height: (Math.random() * 0.06 + 0.01) / 100,
    opacity: Math.random() * 0.8 + 0.2,
  })),
];

// // Animate the stars to move in parallax continuously towards to the left like a timelapse of stars
// function animateStars() {
//   stars.forEach((star) => {
//     star.x -= 0.0005;
//     if (star.x < 0) star.x = 1;
//   });
//   requestAnimationFrame(animateStars);
// }
// requestAnimationFrame(animateStars);

const { children } = Astro.props;
---

<div class="relative w-full h-screen bg-gradient-to-b from-black via-blue-950 to-black">
  {
    stars.map((star) => (
      <div
        class="absolute bg-white rounded-full"
        style={{
          top: `${star.y * 100}%`,
          left: `${star.x * 100}%`,
          width: `${star.width * 2}px`,
          height: `${star.height * 2}px`,
          opacity: `${star.opacity * 0.5}`,
        }}
      >
        <div class="absolute z-10 w-full h-full bg-red-200">{children}</div>
      </div>
    ))
  }
</div>
