---
import Features4 from '~/components/widgets/Features4.astro';
import Hero from '~/components/widgets/Hero.astro';
import { items } from '~/data/team';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Team',
  description:
    "Meet the dedicated researchers and scientists behind the urFIT-child Research Group, working to advance children's health and fitness.",
};
---

<Layout metadata={metadata}>
  <Hero
    classes={{
      labelContainer: 'pb-0 md:pb-0 lg:pb-0',
      title: 'pb-0 md:pb-0 lg:pb-0',
    }}
    tagline="Team"
    title="urFIT-child Team"
  >
    <Fragment slot="subtitle">
      <div class="max-w-3xl mx-auto">
        <p
          class="text-xl text-muted mb-6 dark:text-slate-300 intersect-once intersect-tenth sm:intersect-quarter motion-safe:opacity-0 motion-safe:intersect:animate-fade"
        >
          Meet our dedicated team of researchers working to improve children's cardiometabolic health and fitness.
        </p>
      </div>
    </Fragment>
  </Hero>

  <Features4
    items={items}
    columns={3}
    isProfile={true}
    classes={{
      container: 'max-w-7xl mx-auto px-4 sm:px-6 pb-8 pt-4 sm:pt-8 lg:pt-8 relative bg-grid',
      items: {
        container: 'gap-6',
        image: 'mb-2 rounded-full overflow-hidden',
        title: 'text-xl',
        subtitle: 'text-primary',
      },
    }}
  />
</Layout>
