---
import imgTedxVaasa from '~/assets/images/index/tedx-vaasa-prof-andrew-agbaje-urfit-child-presentation.webp';
import imgResearchVisualization from '~/assets/images/index/urfit-child-prevention-stages-visualization.webp';
import imgLogo from '~/assets/images/index/urfit-child-research-group-logo.webp';
import Image from '~/components/common/Image.astro';
import GradientText from '~/components/ui/GradientText.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Spacer from '~/components/widgets/Spacer.astro';
import Stars from '~/components/widgets/Stars.astro';
import Stats from '~/components/widgets/Stats.astro';
import Layout from '~/layouts/PageLayout.astro';
import { YouTube } from 'astro-embed';

const metadata = {
  title: 'urFIT-child | Prof. Andrew Agbaje – Pediatric Obesity Research',
  description:
    'Official site of urFIT-child, led by Prof. Andrew Agbaje. Discover research on waist-to-height ratio, childhood obesity, and pediatric health diagnostics.',
  ignoreTitleTemplate: true,
  canonical: 'https://urfit-child.com',
  openGraph: {
    title: 'urFIT-child | Prof. Andrew Agbaje – Pediatric Obesity Research',
    description:
      'Official site of urFIT-child, led by Prof. Andrew Agbaje. Discover research on waist-to-height ratio, childhood obesity, and pediatric health diagnostics.',
    type: 'website',
    image: imgResearchVisualization,
    article: {
      publishedTime: '2025-01-17T05:06:57+02:00',
      modifiedTime: '2025-01-17T05:06:57+02:00',
      authors: ['urFIT-child Research Group'],
      tags: [
        'Prof. Andrew Agbaje',
        'urFIT research group',
        'pediatric obesity research',
        'children’s health assessment',
        'waist-to-height ratio research',
        'evidence-based pediatric methods',
        'non-invasive health screening',
        'childhood obesity prevention',
      ],
    },
  },
  twitter: {
    handle: '@urFIT-child',
    site: '@urFIT-child',
    cardType: 'summary_large_image',
  },
};
---

<Layout metadata={metadata}>
  <!-- <Image
    class="mx-auto w-full"
    widths={[200, 384, 512, 1020]}
    sizes="(max-width: 767px) 200px, (max-width: 1023px) 384px, (max-width: 2039px) 512px, 1020px"
    loading="eager"
    width={3000}
    height={1688}
    src={imgTedxVaasa}
    alt="Tedx Vaasa"
  /> -->

  <Stars>
    <Hero
      tagline="Welcome to"
      image={{
        src: imgTedxVaasa,
        alt: 'urFIT-child principal investigator Prof. Andrew Agbaje presenting at TEDx Vaasa',
      }}
      imageText="urFIT-child principal investigator Prof. Andrew Agbaje presenting at TEDx Vaasa"
      classes={{ labelContainer: 'lg:max-w-[840px] mx-auto' }}
    >
      <Fragment slot="title">
        <p class="text-center pb-[2px]">urFIT-child</p>
        <div
          class="flex flex-wrap gap-y-[0.1em] gap-x-[0.25em] md:gap-y-[0.125em] xl:gap-y-[4px] items-center justify-center"
        >
          <span>
            <span class="text-primary highlight inline-block">U</span>nde<span
              class="text-primary highlight inline-block"
            >
              r
            </span>standing
          </span>
          <span>
            <span class="text-primary highlight inline-block">FIT</span>ness
          </span>
          <span class="whitespace-nowrap">and</span>
          <span>
            <span class="text-primary highlight inline-block">c</span>ardiometabolic
          </span>
          <span>
            <span class="text-primary highlight inline-block">h</span>ealth
          </span>
          <span>
            <span class="text-primary highlight inline-block">i</span>n
          </span>
          <span>
            <span class="text-primary highlight inline-block">l</span>ittle
          </span>
          <span>
            <span class="text-primary highlight inline-block">d</span>arlings
          </span>
          <!-- <span class="whitespace-nowrap"><span class="text-primary highlight inline-block">(urFIT-child)</span></span> -->
        </div>
      </Fragment>

      <Fragment slot="subtitle">
        urFIT-child is a treasure chest of 21st-century novel discoveries aimed at <span class="whitespace-nowrap"
          ><GradientText class="font-bold">improving</GradientText></span
        >
        children, adolescents, and young adults' health.
      </Fragment>
    </Hero>
  </Stars>

  <!-- Features Widget *************** -->

  <Features3
    id="description"
    animated={false}
    tagline="Description"
    title="urFIT-child is a multidisciplinary and collaborative research group with clear objectives"
    classes={{ container: 'max-w-6xl xl:max-w-[1152px] pb-0 md:pb-0 lg:pb-0 xl:pb-[0px]' }}
    columns={2}
    items={[
      {
        title: 'Improving',
        description:
          'Improve understanding of the development of cardiovascular, metabolic, and arterial diseases from childhood until young adulthood.',
        icon: 'tabler:brain',
      },
      {
        title: 'Identifying',
        description:
          'Identify critical time periods of significant deviation from physiology to pathology during growth and maturation.',
        icon: 'tabler:calendar-month',
      },
      {
        title: 'Simulating',
        description:
          'Simulate potential intervention effects in situation where randomized clinical trials are lacking in apparently healthy children and adolescents.',
        icon: 'tabler:pill',
      },
      {
        title: 'Examining',
        description:
          'Examine mechanistic cross-talk within modifiable risk factors and non-modifiable risk factors to inform potentially effective intervention strategies.',
        icon: 'tabler:zoom-exclamation',
      },
      {
        title: 'Causality',
        description:
          'Investigate causal inferences in risk factors relationships that prospectively influence cardiac, metabolic, and arterial health from childhood through young adulthood.',
        icon: 'tabler:timeline',
      },
      {
        title: 'Discovering',
        description:
          'Discover novel risk factors for several paediatric diseases such as hypertension, insulin resistance (type 2 diabetes), obesity, premature cardiac damage, atherosclerosis, dyslipidaemia in which several intervention strategies have had limited success.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Gaps',
        description:
          'To fill knowledge gaps identified by the World Health Organization and other global public health agencies through the provision of substantial scientific evidence useful in updating health guidelines in primarily preventing non-communicable diseases.',
        icon: 'tabler:book',
      },
      {
        title: 'Tools',
        description: 'Provide new tools for accurately and cheaply diagnosing childhood obesity globally.',
        icon: 'tabler:tool',
      },
    ]}
  >
    <Fragment slot="subtitle">
      <div class="text-center w-full text-xl xl:text-[20px] xl:leading-[28px] text-muted">
        <div class="max-w-xl xl:max-w-[768px] text-center inline-flex flex-wrap gap-[4px] items-center justify-center">
          <span>
            <p class="font-semibold text-primary highlight inline-block">U</p>nde<p
              class="font-semibold text-primary highlight inline-block"
            >
              r
            </p>standing
          </span>
          <span>
            <p class="font-semibold text-primary highlight inline-block">FIT</p>ness
          </span>
          and
          <span>
            <p class="font-semibold text-primary highlight inline-block">c</p>ardiometabolic
          </span>
          <span>
            <p class="font-semibold text-primary highlight inline-block">h</p>ealth
          </span>
          <span>
            <p class="font-semibold text-primary highlight inline-block">i</p>n
          </span>
          <span>
            <p class="font-semibold text-primary highlight inline-block">l</p>ittle
          </span>
          <span>
            <p class="font-semibold text-primary highlight inline-block">d</p>arlings
          </span>
          <span>(urFIT-child)</span>
          <span class="inline"
            >is a multi-disciplinary and multi-collaborative research group in cooperation with renowned global experts
            across several continents, viz; Oceania, North America, Africa, Europe, and Asia. Our objectives are to:</span
          >
        </div>
      </div>
    </Fragment>
  </Features3>

  <!-- Hero Widget ****************** -->

  <Features3 classes={{ container: 'max-w-6xl xl:max-w-[1152px]' }}>
    <Fragment slot="subtitle">
      <span class="text-base xl:font-[16px] xl:leading-[24px]"
        >Modifiable risk factors are total cholesterol, triglyceride, low-density lipoprotein cholesterol, high-density
        lipoprotein cholesterol, insulin resistance (glucose and insulin), blood pressure, heart rate, low-grade
        inflammation, obesity, body composition (fat mass and muscle mass), sedentary time, light physical activity,
        moderate-to-vigorous physical activity, smoking habit, cardiorespiratory fitness. Risk factors were measured
        during clinic visits from childhood starting at age 7 years and repeated either yearly or bi-annually until age
        17 years. Young adulthood assessments occurred at age 24 years clinic visit, the 30-year clinic visit data
        collection has been completed (2022 - 2024).
      </span>
    </Fragment>
  </Features3>

  <!-- Content Widget **************** -->

  <Hero
    imageText={`Learn how to use our
          <a href="/waist-height-calculator" class="text-blue-600 hover:underline font-semibold">
            waist to height ratio calculator
          </a>
          to assess your body fat more accurately.`}
  >
    <Fragment slot="subtitle">
      <div
        class={'text-center intersect-once intersect-tenth sm:intersect-quarter intercept-no-queue motion-safe:opacity-0 motion-safe:intersect:animate-fade'}
      >
        <h2
          class="text-3xl md:text-4xl xl:text-[36px] xl:leading-[40px] font-bold leading-tighter tracking-tighter mb-4 xl:mb-[16px] font-heading"
        >
          Global recognitions
        </h2>
      </div>
      <div
        class={'mb-8 xl:mb-[48px] text-center intersect-once intersect-tenth sm:intersect-quarter intercept-no-queue motion-safe:opacity-0 motion-safe:intersect:animate-fade'}
      >
        <p class="text-muted text-xl xl:text-[20px] xl:leading-[28px] max-w-5xl xl:max-w-[1080px] mx-auto">
          The urFIT-child research and its principal investigator Andrew Agbaje have received several recognitions for
          their thorough and innovative work. Among the recognitions are the Flemming Quaade Award for innovation in
          childhood obesity research.
        </p>
      </div>
    </Fragment>

    <Fragment slot="image">
      <YouTube
        id="EQDC2E6R4xM"
        posterQuality="high"
        title="Professor Andrew Agbaje receiving the Flemming Quaade Award for innovation in childhood obesity research"
        class="rounded-lg"
      />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="World-class data"
    subtitle={`With world-class data 
    <a
      href="https://www.bristol.ac.uk/alspac/"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="text-blue-700 hover:underline"
      >(Children of the 90s)</a>
    from the University of Bristol, UK, our findings reach the widest audience possible.
    `}
    classes={{ container: 'pb-0 md:pb-0 lg:pb-0 xl:pb-0' }}
    stats={[
      { title: 'Participating families', amount: '14.5K' },
      { title: 'Years of data collection', amount: '30' },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    classes={{ item: 'md:w-full pt-0 md:pt-0 lg:pt-0 xl:pt-0' }}
    stats={[{ title: 'Global audience of our work', amount: '5,500,000,000+' }]}
  />

  <!-- Hero Widget ******************* -->

  <Hero
    image={{
      src: imgResearchVisualization,
      alt: 'urFIT-child research visualization showing stages of prevention: primordial, early primary, mid-primary, late primary, secondary, and tertiary',
    }}
    imageText="urFIT-child prevention stages: from primordial to tertiary"
  />

  <!-- Stats Widget ****************** -->

  <div class="flex flex-wrap justify-center items-center">
    <Stats
      classes={{ item: 'md:w-full' }}
      stats={[
        {
          amount: 'urFIT-child',
          classes: { amount: 'text-[2.6rem] font-bold lg:text-[72px] xl:text-[72px]' },
          lowerCase: true,
          curve: true,
        },
      ]}
    >
      <Fragment slot="title">Enabling children's health globally, </Fragment>
    </Stats>

    <Hero>
      <Fragment slot="image">
        <Image
          class="mx-auto rounded-md w-full"
          widths={[200, 384, 512, 1020]}
          sizes="(max-width: 767px) 200px, (max-width: 1023px) 384px, (max-width: 2039px) 512px, 1020px"
          loading="eager"
          width={320}
          height={320}
          src={imgLogo}
          alt="urFIT Child Research Group logo"
        />
      </Fragment>
    </Hero>
  </div>

  <!-- Spacer ******************* -->

  <Spacer size="sm" />
</Layout>
