---
import Layout from '~/layouts/PageLayout.astro';
import { YouTube } from 'astro-embed';
import Spacer from '~/components/widgets/Spacer.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import GradientText from '~/components/ui/GradientText.astro';
import imgFlame from '~/assets/images/non-academic/Flame the Freeze website.webp';
import flameEbook from '~/assets/pdfs/Flame the Freeze ebook.pdf';

const metadata = {
  title: 'Non-academic',
  description: 'Life is spiritual',
  // ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    classes={{ labelContainer: 'pb-0 md:pb-0 lg:pb-0' }}
    tagline="Non-academic"
    image={{
      src: imgFlame,
      alt: 'Flame the Freeze website',
      link: {
        href: 'https://flamethefreeze.com',
        target: '_blank',
        rel: 'noopener noreferrer',
      },
    }}
  >
    <Fragment slot="title"> Life is spiritual </Fragment>
    <Fragment slot="subtitle">
      The magnificence and excellence of all these studies and findings are credited to the Lord Jesus Christ. How can a
      small research group from a small country like Finland make such discoveries and reach global attention and
      influence the world just in a couple of years?

      <br />
      <br />
      We know that thou art a teacher come from God:
      <span class="font-semibold">for no man can do these</span> miracles that thou doest,
      <span class="font-semibold"> except God be with him. </span>
      John 3:2 KJV
      <br />
      <br />
      This is the Lord's doing; it is marvellous in our eyes. Psalm 118:23 KJV

      <br />
      <br />
      <br />

      For this reason we created a website, from which you can enter into the same spiritual realm as we do.

      <br />
      <br />
      <a class="text-orange-600 hover:underline font-bold" href="https://flamethefreeze.com" target="_blank">
        <GradientText class="font-bold pr-3 text-xl" isHeading style2>Flame the Freeze</GradientText>
      </a>
    </Fragment>
  </Hero>

  <!-- Spacer ******************* -->

  <Spacer />

  <!-- Content Widget **************** -->

  <Content tagline2="A foretaste" isReversed>
    <Fragment slot="title">
      A foretaste of what<br />
      <GradientText class="italic pr-3 pb-1" style2 text="Jesus has been doing" /><br />
      since the start of 2024?
      <!-- <GradientText text={t("index.content3.title.span2")} /> -->
    </Fragment>

    <Fragment slot="content">
      <h3 class="text-2xl tracking-tightsm:text-xl mb-2">
        ...for all men glorified God for that which was done. For the man was above forty years old, on whom this
        miracle of healing was shewed. Acts 4:21,22 KJV
      </h3>
    </Fragment>

    <Fragment slot="image">
      <div class="relative pb-[56.25%]">
        <YouTube id="Z1J0yjSdiVY" title="Dr. Osaze's testimony" poster="" />
      </div>
    </Fragment>
  </Content>

  <Content>
    <Fragment slot="content">
      <h3 class="text-2xl tracking-tight sm:text-xl mb-2">
        Excerpt from JESUS FEST WINTER REVIVAL Gospel Outreach, Finland December 18-22, 2024...
      </h3>
      <h3 class="text-2xl tracking-tight sm:text-xl mb-2">
        ...And he said unto them, Go ye into all the world, and preach the gospel to every creature. Mark 16:15 KJV
      </h3>
    </Fragment>

    <Fragment slot="image">
      <div class="relative pb-[56.25%]">
        <YouTube id="BF3abMvyBLQ" title="Ari raised from the dead after setting himself on fire" poster="" />
      </div>
    </Fragment>
  </Content>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline2="eBook"
    title="10 stories of life transforming miracles for people who are hungry to know more"
  />

  <!-- Ebook Widget *************** -->

  <div
    class="w-full flex justify-center pb-10 intersect-once intersect-tenth sm:intersect-quarter intercept-no-queue motion-safe:opacity-0 motion-safe:intersect:animate-fade"
  >
    <div class="w-full max-w-2xl aspect-[3/4] relative">
      <iframe
        title="Flame the Freeze pdf"
        src={flameEbook}
        width="100%"
        height="100%"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;"
        allow="autoplay"
        loading="lazy"></iframe>
    </div>
  </div>

  <!-- Spacer ******************* -->

  <Spacer />
</Layout>
