---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 xl:ml-[8px] rtl:ml-0 rtl:mr-2 text-2xl md:text-xl xl:text-[20px] xl:leading-[28px] font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  {SITE?.name}
</span>
