<div
  class="min-w-[280px] flex flex-col max-w-2xl mx-auto rounded-lg backdrop-blur border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900 shadow p-4 sm:p-6 lg:p-8 w-full"
>
  <form class="flex flex-col gap-6" id="waist-to-height-form">
    <!-- <div class="max-w-20">
        <label for={'age'} class="block text-sm font-medium">Age</label>
        <input
          type={'number'}
          name={'age'}
          id={'age'}
          autocomplete={null}
          placeholder={'0'}
          class="py-3 px-4 block text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
        />
      </div> -->
    <div class="flex-row flex gap-2 sm:gap-4 md:gap-6 items-center">
      <div>
        <label for={'waist'} class="block text-sm font-medium">Waist</label>
        <input
          type={'number'}
          name={'waist'}
          id={'waist'}
          autocomplete={null}
          placeholder={'0 cm'}
          oninput="calcualte()"
          class="min-w-20 w-full py-3 pl-4 pr-2 block text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
        />
      </div>
      <p class="block font-medium text-2xl pt-5">/</p>
      <div>
        <label for={'height'} class="block text-sm font-medium">Height</label>
        <input
          type={'number'}
          name={'height'}
          id={'height'}
          autocomplete={null}
          placeholder={'0 cm'}
          oninput="calcualte()"
          class="min-w-20 w-full py-3 pl-4 pr-2 block text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
        />
      </div>
      <p class="block font-medium text-2xl pt-5">=</p>
      <p id="result" class="block font-medium text-lg w-20 pt-5">0</p>
    </div>
  </form>
</div>
