---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import FilterContainer from '~/components/filters/FilterContainer.astro';
import { platforms } from '~/data/videosAndPodcasts';
import VideosAndPodcastsList from '~/components/widgets/list/VideosAndPodcastsList.astro';

const metadata = {
  title: 'Videos and Podcasts',
  description: 'Media coverage and interviews featuring urFIT-child research and findings',
};
---

<Layout metadata={metadata}>
  <Hero tagline="Media Coverage" title="Videos and Podcasts" />

  <FilterContainer
    options={[platforms]}
    allLabels={['All Platforms']}
    showSearch={true}
    targetId="videos-and-podcasts-list"
    classes={{
      container: 'py-0 lg:py-0 md:py-0 mb-8',
    }}
  />

  <div id="videos-and-podcasts-list">
    <VideosAndPodcastsList />
  </div>
</Layout>
